.page-title {
  position: fixed;
  top:30px;
  left:51%;
  letter-spacing: 40px;
  transform: translateX(-50%);
  font-size: 38px;
  color: white; }

  .copyrights {
    position: fixed;
    bottom:30px;
    left:50%;
    transform: translateX(-50%);
    font-size: 14px;
    letter-spacing: 1px;
    color: grey; }

body {
  background-color: #212121;
}

.utopia {
  --hover-shadows: 16px 16px 33px #121212, -16px -16px 33px #303030;
  --accent: red;
  font-weight: lighter;
  letter-spacing: 0.1em;
  border: none;
  position: fixed;
  top:220px;
  left:50%;
  transform: translateX(-50%);
  border-radius: 1.1em;
  background-color: #212121;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 1em 2em;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
  box-shadow: 13px 13px 10px #1c1c1c, -13px -13px 10px #262626;
}

.utopia:hover {
  box-shadow: var(--hover-shadows);
}

.utopiatest {
  --hover-shadows: 16px 16px 33px #121212, -16px -16px 33px #303030;
  --accent: red;
  font-weight: lighter;
  letter-spacing: 0.1em;
  border: none;
  position: fixed;
  top:380px;
  left:50%;
  transform: translateX(-50%);
  border-radius: 1.1em;
  background-color: #212121;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 1em 2em;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
  box-shadow: 13px 13px 10px #1c1c1c, -13px -13px 10px #262626;
}

.utopiatest:hover {
  box-shadow: var(--hover-shadows);
}

